*{
/*font-family: 'Dancing Script', cursive, 'Heebo', sans-serif; font-family: 'Tsukimi Rounded', sans-serif;*/
box-sizing: border-box;
list-style: none;
}
body{
    background-color: #252625;

}
.container{
    height: 100vh;
}

nav{
    color:#e5eeef;
    font-family: 'Heebo', sans-serif;
     display: flex;
    justify-content: space-between;
    
}
.links{
    display: flex;
}
nav h4{
    margin: 10px;
    padding: 2px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    transition: 2s  border ease-in-out;
    transition-delay: 190ms;
}
nav h4:hover{
    border-bottom: 1px solid #e5eeef;
    color: #e5eeef;
}
.logo{
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 11px;
    margin-left: 5px;
}
.welcome-message{
    width:300px;
    height: 500px;
    font-family: 'Dancing Script', cursive;
    color:#e5eeef;
    font-size: 70px;
    position: relative;
    bottom: 250px;
    animation: scroll 1s ease-in-out forwards;
}
.about-store{
    width: 400px;
    position: relative;
    left: 700px;
    color:#e5eeef;
    font-family: 'Heebo', sans-serif;
    bottom: 460px;
    animation: leftscroll 1s ease-in-out forwards;
    padding: 5px;
   
}
.about-intro{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.about-body{
     font-weight: lighter;
    margin-top: none;
    position: relative;
    bottom: 18px;
    
}
.form-div{
    background: #ccbfab;
    border-radius: 50%;
    height: 490px;
    width: 490px;
    margin: 0 auto;
    font-family: 'Heebo', sans-serif;
   position: relative;
   bottom: 850px;
   visibility: hidden;
}
form{
    position: relative;
    left: 150px;
    top: 95px;
    width: 450px;
    color: white;
}
input{
   display:block;
   border:none;
    outline:none;
    border-bottom: 1px solid  white;
    cursor:pointer;
    background-color: transparent;
    color: white;
    width: 49%;
}
label{
    position: relative;
    right: 90px;
    top: 26px;
}
i{
    position:relative;
    bottom:25px;
    left: 210px;
    visibility: hidden;
}
.form-control small{
    visibility: hidden;
}
button{
 border-radius: 5px;
background: transparent;
color: white;
border: 1px solid white;
position: relative;
left: 62px;
top: 15px;
width: 80px;
height: 40px;
transition: 110ms transform ease-in;
}
button:hover{
    cursor: pointer;
    transform: translateY(-3px);
}
input{
    background: transparent;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.success i.fa-check-circle{
    visibility: visible;
    color: #2ecc71;
    
}
.form-control.error i.fa-times{
    color: #e74c3c;
    visibility: visible;
}
.form-control.success small{
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
    color: #e74c3c;
}
.parent-links{
    display: flex;
    flex-direction: column;
}
.modal-container{
    padding: 30px;
    width: 800px;
    position: relative;
    background: #e0dddd83;
    border-radius: 15px;
    
}
.close-btn{
    width: 35px;
    height: 35px;
    fill: white;
    position: relative;
   left: 590px;
   bottom: 25px;
    transition: transform 0.3s ease;
    z-index: 2;
    visibility: hidden;
}
.close-btn:hover{
    transform: translateY(-3px);
}
.instruments{
    color: #cbcccc;
    font-family: 'Heebo', sans-serif;
    position: relative;
    margin-top: 10px;
    width:107px;
    z-index: 2;
    bottom:26px;
    background-color: #b8bcbd50;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    font-weight: lighter;
    visibility: hidden;
    height: 130px;
    margin-left: 274px;
}
.instruments ul{
 position: relative;
right: 19px;
overflow: hidden;
cursor: pointer;
}
.instruments li{
    padding: 5px;
}
.instruments li:hover{
    color: white;
}
.instrument-visible{
visibility: visible;
}

.slider svg{
    fill: white;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}
svg:hover{
    transform: scale(1.5);
} 
.pre-btn{
    position: relative;
    top:200px;
}
.nxt-btn{
    position: relative;
    top:200px;
    left: 1100px;
}
.product-card img{
    height: 350px;
    
}
.slider{
    position: relative;
    bottom: 950px;
}
.product-container {
    padding-left: 6vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 20px;
    }
  .product-container::-webkit-scrollbar {
    display: none;
  }
  .product-card{
    border: solid 2px #252625;
    border-radius: 6px;
    margin-right: 20px;
    
  }
  .category{
    color: #e5eeef;
    font-family: 'Dancing Script', cursive;
    margin: 0 ;
    position:absolute;
    left: 420px;
    font-size: 45px;
  }
  .form-visible{
    visibility: visible;
  }
  .form-hidden{
    visibility: hidden;
  }
  .contact{
    font-size: 30px;
    color: #e5eeef;
    font-family: 'Dancing Script', cursive;
    margin-left: 40px;
  }
  .media svg{
    width: 30px;
    height: 30px;
    fill: #e5eeef;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .media{
    display: flex;
    position: relative;
    right: 25px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: 470px;
  }
  .text{
    display: flex;
  }
.instruments-animation{
animation: menu 300ms ease-in-out forwards;
}
@keyframes menu {
    0%   {
        opacity:0; 
        }

    100% {
        opacity:1; 
            }
  }
  @keyframes scroll{
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(320px);
    }
  }

  @keyframes leftscroll{
    0%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(-10px);
    }
  }
